	<div style='display:none'>
		<div id='inline_musica' style='padding:10px; background:#EEE9E9;'>
          <h2>MÚSICAS</h2>
          <% form_remote_for(:musica,:url => { :action => 'create_musica' }, :success => "$.fn.colorbox.close();$('.musica').hide();") do |f|%>
            <%= error_messages_for 'contact' %>
          <table>
              <tr>
                <th width="10%">Música:</th>
                <td width="20%" align="center">
                  <%= f.text_field :nome,:size => "60" %>
                </td>
                <td><%= submit_tag 'Criar'  %></td>
              </tr>
            </table>
          <%end%>
          
          <hr>

        </div>
	</div>