.tabelas {
  border: solid 1px;
  border-collapse: separate;
  border-color:black;
  width:100%;
  }
  .tabelas th {
      font-size: 12px;
      color: black;
      background-color: #EE9A00;
      padding: 4px 8px;
      padding-bottom: 4px;
      text-align: center;
    }
    .tabelas th.titulo {
        background-color: yellow;
    }
    .tabelas th.titulo h1{
        color:#000;
    }
    .tabelas td {
      padding: 4px 8px;
      background-color: #F5DEB3;
      color:black;
      text-align: center;
    }
#aviso{
    color: red;
}

#caixa_titulo{
	width:auto;
	height:20px;
	padding:3px 0 0 0;
	background-color:#E6E6FA;
	text-align:left;
}

#caixa_subtitulo{
	width:auto;
	height:20px;
	padding:3px 0 0 0;
	background-color:#DCDCDC;
	text-align:left;
}

#tudo{
	width:auto;
	height:100px;
	padding:3px 0 0 0;
	background-color:#333;
	border-top:1px solid #666;
	border-bottom:2px dotted #666;
	color:#0f0;
	text-align:center;
}



#conteudoEsq {
	position:absolute;
	width:340px;
	top:120px;
	left:15px;
	color:#99f;
	padding-bottom:20px;	
}
#informe {
	background:#444;
    height:350px;
}
#sepEsqcolCentral {
	margin-left:350px;
	padding-left:2px;
	background:#666;
}
#colDireita {
	background:#22232F;
	color:#991;
	padding:2px 10px;
	text-align:justify;
	border-bottom:1px solid #666;
    height: 200px;
    width: 300px;
    overflow: auto;
    border: 1px solid #666;
    background-color: #ccc;
    padding: 8px;
}

#topoShow {
    width:auto;
	height:100px;
	padding:3px 0 0 0;
	background-color:#333;
	border-top:1px solid #666;
	border-bottom:2px dotted #666;
	color:#000;
	text-align:left;
	position:absolute;
	top:100px;
	left:15px;
}

#telaShow {
    background:#EEE9E9;
    height:410px;
    border-style:double;
    border-color:#CDC9C9;
}

#linhaCentral {
	    margin-left:310px;
	    border-color:#CDC9C9;
    	border-left-style:double;
    	border-left-width:thin;
    	padding-left:1px;
    	background:#BEBEBE;
    	height:inherit;
}

#colunaEsquerda {
    background:#EEE9E9;
    height:410px;
}

#colunaDireita {
	background:#EEE9E9;
	color:#000;
	padding:2px 10px;
	text-align:justify;
	height:406px;
}

#conteudoEsquerda {
	position:absolute;
	width:300px;
	top:78px;
	left:10px;
	color:#000;
	padding-bottom:20px;
}



#imagem-login {
   background-image:url(/images/biblioteca_virtual.jpg);
   background-repeat: no-repeat;
   background-position:top;
   text-align: center;
   color:white;
   width:100%;
   height:350px;
   margin:0;
   font-weight:bold;

}