.divisoes{
  background-color:#DCDCDC;
  border: solid 1px;
  border-collapse: separate;
  border-color:black;
  width:100%;
}
    .divisoes tr {
      font-size: 12px;
      color: black;
      background-color: #F5F5F5;
      padding: 4px 8px;
      padding-bottom: 4px;
      text-align: center;
    }
    #classe{
    height:380px;
    width:760px;
    border: solid 1px;
    overflow: auto;
    background-color:#F5F5F5;

}
#livros{
    height:220px;
    width:auto;
    border: solid 1px;
    overflow: auto;
    background-color:#f5f5f5;
}
#pessoas{
    height:50px;
    width:740px;
    border: solid 1px;
    overflow: auto;
    background-color:#F5F5F5;
}
#retorna_livro{
    height:300px;
    width:660px;
    border: solid 1px;
}


#retorna_pessoa{
    height:20px;
    width:665px;
    border: solid 1px;
}


#livro{
    height:20px;
    width:575px;
    border: solid 1px;
}


#quadro1 {
    height:750px;
    width:680px;
    border: solid 1px;
    overflow: auto;
    background-color:#CDC1C5;
}

#quadro2 {
    border: solid 1px;
    position :relative;
    width: 560px;
    top: 6px;
    left: 55px;
    height:700px;
    background-color:white;
    overflow: auto;
}

#quadro3 {
    height:480px;
    position :relative;
    width:500px;
    top: 6px;
    left: 30px;
    background-color:white;
}

#livro_per_user {
    height:220px;
    width:470px;
    border: solid 1px;
    overflow: auto;
}

#unidade_corrente {
       position:absolute;
       width:340px;
       top:50px;
       left:15px;
       text-align:center;
       border: solid 1px;
       height:20px;
       width:100px;
       background-color:white;
}
.musica{
    display:none;
}
#sql {
       border: solid 1px;
       height:40px;
       width:350px;
}
#lista_dicionarios{
    height:120px;
    width:750px;
    border: solid 1px;
    overflow: auto;
    background-color:#F5F5F5
}
#lista_livros {
    height:120px;
    width:750px;
    border: solid 1px;
    overflow: auto;
    background-color:#F5F5F5
}
#identificacao {
    height:20px;
    width:575px;
    border: solid 1px;
}
.tabelas {
  border: solid 1px;
  border-collapse: separate;
  border-color:black;
  width:100%;
  }
  .tabelas th {
      font-size: 12px;
      color: black;
      background-color: #B3B1A9;
      padding: 4px 8px;
      padding-bottom: 4px;
      text-align: center;
    }
    .tabelas th.titulo {
        background-color: yellow;
    }
    .tabelas th.titulo h1{
        color:#000;
    }
    .tabelas td {
      padding: 4px 8px;
      background-color: #F5F5F5;
      color:black;
      text-align: center;
    }
#aviso{
    color: red;
}

#caixa_titulo{
	width:auto;
	height:20px;
	padding:3px 0 0 0;
	background-color:#E6E6FA;
	text-align:left;
}

#caixa_subtitulo{
	width:auto;
	height:20px;
	padding:3px 0 0 0;
	background-color:#000;
	text-align:left;
}

#tudo{
	width:auto;
	height:100px;
	padding:3px 0 0 0;
	background-color:#333;
	border-top:1px solid #666;
	border-bottom:2px dotted #666;
	color:#0f0;
	text-align:center;
}



#conteudoEsq {
	position:absolute;
	width:340px;
	top:120px;
	left:15px;
	color:#99f;
	padding-bottom:20px;	
}
#informe {
	background:#444;
    height:350px;
}
#sepEsqcolCentral {
	margin-left:350px;
	padding-left:2px;
	background:#666;
}
#colDireita {
	background:#22232F;
	color:#991;
	padding:2px 10px;
	text-align:justify;
	border-bottom:1px solid #666;
    height: 200px;
    width: 300px;
    overflow: auto;
    border: 1px solid #666;
    background-color: #ccc;
    padding: 8px;
}

#topoShow {
    width:auto;
	height:100px;
	padding:3px 0 0 0;
	background-color:#F5F5F5;
	border-top:1px solid #666;
	border-bottom:2px dotted #666;
	color:#000;
	text-align:left;
	position:absolute;
	top:100px;
	left:15px;
}

#telaShow {
    background:#F5F5F5;
    height:410px;
    border-style:double;
    border-color:#CDC9C9;
    overflow: auto;
}

#linhaCentral {
	    margin-left:310px;
	    border-color:#CDC9C9;
    	border-left-style:double;
    	border-left-width:thin;
    	padding-left:1px;
    	background:#BEBEBE;
    	height:inherit;
}

#colunaEsquerda {
    background:#EEE9E9;
    height:410px;
}

#colunaDireita {
	background:#F5F5F5;
	color:#000;
	padding:2px 10px;
	text-align:justify;
	height:406px;
}

#conteudoEsquerda {
	position:absolute;
	width:300px;
	top:55px;
	left:10px;
	color:#000;
	padding-bottom:20px;
}



#imagem-login {
   background-image:url(/images/biblioteca_virtual.jpg);
   background-repeat: no-repeat;
   background-position:top;
   text-align: center;
   color:white;
   width:100%;
   height:350px;
   margin:0;
   font-weight:bold;

}

.pagination {
padding: 3px;
margin: 3px;
}
.pagination a {
padding: 2px 5px 2px 5px;
margin: 5px;
border: 1px solid ;

color: white;
background-color:teal;
}
.pagination a:hover, .pagination a:active {
border: 1px solid white;
color: black;
}
.pagination span.current {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid black;
font-weight: bold;
background-color: gray;
color: black;}

.pagination span.disabled {
padding: 2px 5px 2px 5px;
margin: 2px;
border: 1px solid #eee;
color: #ddd;
background-color:white;
}
