.tabelas {
  border: solid 1px;
  border-collapse: separate;
  border-color:black;
  width:100%;
  }
  .tabelas th {
      font-size: 12px;
      color: black;
      background-color: #EE9A00;
      padding: 4px 8px;
      padding-bottom: 4px;
      text-align: center;
    }
    .tabelas th.titulo {
        background-color: yellow;
    }
    .tabelas th.titulo h1{
        color:#000;
    }
    .tabelas td {
      padding: 4px 8px;
      background-color: #F5DEB3;
      color:black;
      text-align: center;
    }
#aviso{
    color: red;
}

/*Desenhando o Menu*/

#menu {
	background: #000;
	height: 27px;
	width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;

	}
#menu ul {
	margin: 0; padding: 0;
	margin-left: 6px;
	}

#menu ul li {
	display: inline;
	}

#menu ul li a {
	background: #444;
	color: orange;
	border: 1px black solid;
	border-bottom: 1px #000 solid;
	float: left;
	padding: 5px 7px;
	margin: 2px;
	text-decoration: none;
	}

#menu ul li a:hover {
	background: #444;
	color: white;
	border: black 1px solid;
	border-bottom: none;
	text-decoration: none;
	}
/*Limite inferior - desenhando Menu*/


#tudo{
	width:auto;
	height:100px;
	padding:3px 0 0 0;
	background-color:#333;
	border-top:1px solid #666;
	border-bottom:2px dotted #666;
	color:#0f0;
	text-align:center;
}
#topo {
	position:absolute;
	width:100px;
	top:100px;
	left:15px;

}
#conteudoEsq {
	position:absolute;
	width:340px;
	top:120px;
	left:15px;
	color:#99f;
	padding-bottom:20px;	
}
#informe {
	background:#444;
    height:350px;
}
#sepEsqcolCentral {
	margin-left:350px;
	padding-left:2px;
	background:#666;
}
#colDireita {
	background:#22232F;
	color:#991;
	padding:2px 10px;
	text-align:justify;
	border-bottom:1px solid #666;
    height:345px;
}