	<div style='display:none'>
		<div id='inline_professor' style='padding:10px; background:#fff;'>
                <table width="100%">
                  <% form_remote_for :funcionario, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()",
                    :url => {:controller => :emprestimos,
                    :action => :funcionario } do |form| %>
                  <tr>
                      <%= form.text_field :nome %>
                  </tr>
                  <%= submit_tag "Filtrar", :name => nil %>
                  <% end %>
                </table>
                <hr/>
                <br/>
                <div id="pessoas"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
                </div>
	</div>