<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="4"> <b class="label_busca">Digitar dado para consulta:</b></font>
         <%= text_field_tag :search, params[:search], :class=> "txt_busca" %>
         <div id="unidade_corrente" style="display:none"><%= (current_user.unidade.nome).capitalize %></div>
         <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
     </td>
   </tr>
  </table>
