  <table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="4"> <b class="label_busca">Selecionar Interprete:</b></font>
       <%= collection_select :cantor,:id,@cantores,:id,:nome, :include_blank => "--Selecionar--" %>
               <%= observe_field 'cantor_id',
                   :update => "cantores",
                   :url    => { :action => 'consulta_cantor_musica'},
                   :with   => 'cantor_id' %>
     </td>
   </tr>
  </table>
