<br/>
<h1>EMPRÉSTIMOS EM VIGÊNCIA</h1>
<b>Usuario corrente:</b> <%= link_to h(current_user.login.capitalize), edit_user_path(current_user)%><br/>
<b>Usuario GPD: </b><%= current_user.unidade.unidades_gpd.nome %>
<br/>

<div id="emprestimos"><%= render "emprestimos" %></div>