<div class="fields">
  <%= select_tag("audio_visual[cantor_ids][]", options_for_select(@cantores.collect { |ff| [truncate(ff.nome, :length => 20, :omission => "..."), ff.id] }, @audio_visual.cantores.collect { |fs| fs.id }),
        {:multiple=>true, :id => "audio_visual_cantor_ids", :size => 5}) %>
</div>