<% title "RELATÓRIO" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>LIVROS CADASTRADOS POR DIA</strong></font><br/>
   </div>
  <div class="tabs">
    <% atual_inicio = Date.today + 0.hours%>
    <% anterior_inicio = atual_inicio - 1.day%>

    <table width="100%" align="center" border="1" frame="box" rules="all" bgcolor="#F5F5F5">
    <% @users.each do |usuario| %>
      <th colspan="3" align="center">
        <%= "Login: #{usuario.login}" %>
      </th>      
      <% busca = usuario.tombos.all(:include => [{:livro=>[:localizacao]}],:conditions => ["(tombos.created_at between ? and ?) and localizacoes.unidade_id = ?",atual_inicio,(atual_inicio + 23.hours + 59.minutes), params[:unidade][:id]]) %>
      <% busca_anterior = usuario.tombos.all(:include => [{:livro => [:localizacao]}],:conditions => ["(tombos.created_at < ?) and localizacoes.unidade_id = ?", atual_inicio,params[:unidade][:id]]) %>
      <tr>
        <td><b>Anterior: </b><%=  busca_anterior.count %></td>
        <td><b>Atual: </b><%= busca.count %></td>
        <td><b>Total: </b><%= busca.count + busca_anterior.count %></td>
      </tr>
    <%end%>
    </table>
  </div>
</div>