<div id="tabs">
  <h3><%= "Total de livros cadastrados desde 14/01/2012: #{@tombos}" %></h3>
	<ul>
		<li><a href="tombos/usuario.html">Por usuário</a></li>
		<li><a href="tombos/diarios.html">Diarios</a></li>
		<li><a href="ajax/content3-slow.php">Tab 3 (slow)</a></li>
		<li><a href="ajax/content4-broken.php">Tab 4 (broken)</a></li>
	</ul>
</div>


