<div id="tabs">
    <ul>
      <li><a href="#fix">Relatório Geral</a></li>
      <li><a href="tombos/usuario.html">Livros por usuário</a></li>
      <li><a href="tombos/livros_diarios.html">Livros diarios</a></li>
      <li><a href="tombos/de_diarios.html">Enciclopédias diarios</a></li>
    </ul>
    <div id="fix">
<% form_remote_tag :url => {:action => "geral", :controller => "tombos"}, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do |z|%>
         <table width="100%" align="center" bgcolor="#DCDCDC" >
          <tr>
            <td>
              <%= collection_select :unidade,:id, Unidade.all, :id, :nome %>
            </td>
           <td>
             <%= submit_tag "Buscar" %>
           </td>
         </tr>
        </table>
    <% end %>
    <br/>
    <hr/>
    <div id="geral"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    </div>
</div>
