<h2>Livros cadastrados por usuario</h2>
<% form_remote_tag :url => {:action => 'select_user'}, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
  Selecione o usuario
  <%= collection_select :tombo,:user,@users,:id,:login, :include_blank => "--Selecionar--" %>
  <%= submit_tag "Enviar"  %>
<% end %>
<hr>
<div id="livro_per_user"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
<div id="count"></div>