<% title "ÁREAS" %>
<div class="tabs">
  <br/><font size="5"><strong>Cadastro das Áreas do Conhecimento</strong></font><br/><br/>
   <div class="tabs">
      <%= render :partial => 'form' %>
    </div>
  <p><%= link_to image_tag("/stylesheets/images/listar.png", :size => "25x25"), areas_path, :title => "Livros Cadastrados" %></p>
</div>
