<% title "Area" %>

<p>
  <strong>Nome:</strong>
  <%=h @area.nome %>
</p>

<p>
  <%= link_to "Alterar", edit_area_path(@area) %> |
  <%= link_to "Apagar", @area, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Listar", areas_path %>
</p>
