<div>	
<h3 style="margin-top:0">Add an item:</h3>
	<p>Type in the text of a new option tag to add dynamically.</p>
	<input type="text" id="newItem"/>
	<input type="button" id="add" value="Add"/>
	<p>
		<label style="margin-right:8px"><input type="checkbox" id="selected"/> Selected?</label>

		<label><input type="checkbox" id="disabled"/> Disabled?</label>
	</p>
</div>

<div>
	<select title="Refresh Exanmple" name="example-refresh" multiple="multiple" size="5">
	<option value="foo">foo</option>
	<option value="bar">bar</option>

	<option value="baz">baz</option>
	</select>
</div>
