<h2>Lista Livros e Tombos para correcao de tombos locais</h2>

<%= "#{@tombo_livros.count} livros com o tombo seduc com problemas" %>
  <% form_remote_tag :url => {:action => "corrigir_tombos", :controller => "consultas"}, :method => :get,:loading => "$('#status').show()" do %>
         <table width="100%" align="center" bgcolor="#DCDCDC" >
         <tr>
           <td><%= submit_tag "Resolver Problemas"  %></td>
         </tr>
        </table>
    <% end %>
    <hr>
    <div id="areas"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    <br/>
