	<div style='display:none'>
		<div id='inline_busca' style='padding:10px; background:#EEE9E9;'>
          <h2>DICIONÁRIOS & ENCICLOPÉDIAS</h2>
          <% form_remote_for(:busca,:url => { :action => 'filtrar' },:loading => "$('#status').show()", :success => "$('#status').hide()" ) do |f|%>
            <%= error_messages_for 'contact' %>
            <table>
              <tr>
                <td colspan="2">
                   Digitar uma palavra do <b>Título</b> e clicar em <b>Filtrar</b> e <b>Selecionar</b>
                </td>
                
              </tr>
              <tr>
                <th width="20%">
                  <div class="botao">Título:</div>
                </th>
                <td width="20%" align="center">
                  <%= f.text_field :busca %>
                </td>
                <td><div class="botao"><%= submit_tag 'Filtrar'  %></div></td>
              </tr>
            </table>
          <%end%>
          <br/>
            <div id="lista_dicionarios"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
        </div>
	</div>
 