<% title "AUTOR" %>

<p>
  <strong>Nome:</strong>
  <%=h @autor.nome %>
</p>

<p>
  | <%= link_to "Editar", edit_autor_path(@autor) %> |
  <%= link_to "Apagar", @autor, :confirm => 'Tem certeza?', :method => :delete %> |
  <%= link_to "Listar", autores_path %> |
</p>
