<% title "Cadastro de Funcionario" %>
<div class="tabs">

    <%= render :partial => 'form' %>

</div>
<p><%= link_to image_tag("/stylesheets/images/listar.png", :size => "25x25"), funcionarios_path %></p>
