
	<div style='display:none'>
		<div id='inline_busca' style='padding:10px; background:#EEE9E9;'>
          <h2>FILTRAR TÍTULOS</h2>
          <% form_remote_for(:busca,:url => { :action => 'filtrar' }) do |f|%>
            <%= error_messages_for 'contact' %>
            <table>
              <tr>
                <th width="30%">
                  <div class="botao">Título:</div>
                </th>
                <td width="20%" align="center">
                  <%= f.text_field :busca %>
                </td>
                <td><div class="botao"><%= submit_tag 'Filtrar'  %></div></td>
              </tr>
            </table>
          <%end%>
            <div id="lista_livros"></div>
        </div>
	</div>
 