<%if @identificacoes.present?%>
<table border="1" frame="box" rules="all" width="100%">
  <th>Titulo</th>
  <th>SubTitulo</th>
  
  <%@identificacoes.each do |livro|%>
    <tr>
      <td><%= link_to_remote(livro.livro, :success => "$.fn.colorbox.close()", :url => { :action => "return", :selected => livro}) %></td>
      <!--<td><%= livro.truncated_value %></td>-->
      <td><%= livro.subtitulo %></td>
  
    </tr>
  <%end%>
</table>
<%end%>