<% title "ASSUNTOS", :id =>"assuntos" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>CONSULTA ASSUNTO</strong></font><br/>
  </div>
  <div class="tabs">
       <table width="100%" align="center" bgcolor="#DCDCDC" >
         <tr>
           <td>
              <div id="assunto"><%= render "shared/consulta_assunto"%></div>
           </td>
         </tr>
        </table>
    <br/>
    <hr>
       <div id="dadosassuntos"></div>
    <table>
    <tr>
     <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "35x35"), root_path, :title => "Voltar" %></td>
     <td align="left"><%= link_to image_tag("/stylesheets/images/consulta.png", :size => "40x40"), consultaAsu_path, :title => "Nova Consulta" %></td>
    </tr>
  </table>
 </div>
 </div>


